body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

ion-icon {
    font-size: 24px;
}

.tag {
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1.5715;
    list-style: none;
    display: inline-block;
    height: auto;
    margin: 0 8px 0 0;
    padding: 4px 4px;
    font-size: 12px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    cursor: default;
    opacity: 1;
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
    gap: 3px;
}

#category {
    color: #52c41a;
    border-color: #52c41a;
}

.tag ion-icon {
    font-size: 16px;
}

.input-group.search-bar {
    width: 100%;
}

.dropdown-menu .dropdown-item {
    margin: 5px 0px 5px 0px;
}

/* for post create/update form */
.image-holder {
    height: 18rem;
    border: 1px dashed rgb(63, 63, 63);
    display: flex;
}